<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        p.solid {
            border-style: solid;
        }
        
        body {
            background-image: url('https://th.bing.com/th/id/R.63be24348856919856f4184631a12f55?rik=qh3r9%2fTo2jgAow&riu=http%3a%2f%2fwallpapercave.com%2fwp%2f9quGkLG.jpg&ehk=0Xx4Qv2EDKAKYFWXlL4agJowBrvKUasWzeH%2fBkx2PUE%3d&risl=&pid=ImgRaw&r=0');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
        
        h1 {
            text-align: center;
        }
        
        p {
            text-align: center;
        }
        
        div {
            text-align: center;
        }
    </style>

    <body>

        <form action="/finalans" method="GET">
            <div class="form-group">
                <div class="container">
                    <h1>ARE U WAITING FOR THE FINAL ANSWER</h1>
                    <h1>To know about the final answer you can visit my LinkedIn account </h1>
                    <h1>Do you really excited to know the answer of this Treasure hunt</h1>
                    <h1>Soo..You can use my LinkedIn ID "TULASI YANALA" and get the answer</h1>
                    <h1>Finally You should submit your answer in the next page</h1>
                    <button>NEXT</button>
                </div>
            </div>
        </form>
</head>

</html>