<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            background-image: url('https://www.108themes.com/foggy-roads/slider/6.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
        
        h1 {
            text-align: center;
        }
        
        h2 {
            text-align: center;
        }
        
        p {
            text-align: center;
        }
        
        div {
            text-align: center;
        }
    </style>

    <body>
        <form action="/hint6" method="GET">
            <div class="form-group">
                <div class="container">
                    <h1>HERE IS YOUR HINT 5</h1>
                    <h2>Are you thinking about the END</h2>
                    <h2>If you found the clue in this step almost you are about to finish the game </h2>
                    <p>I think you guessed the answer in clue 5</p>
                    <img src="https://www.speakingtree.in/webp/s/256160-900-320-5-1502956828/science-behind-the-floating-stones-of-ram-setu.img" alt="Trulli" style="width:40%;" <br><br>
                    <button>NEXT </button>
                </div>
        </form>
    </body>

</html>