<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            background-image: url('https://static.vecteezy.com/system/resources/previews/000/565/088/original/abstract-gray-room-interior-background-or-wallpaper-for-product-display-empty-studio-photoshoot-backdrop-for-your-advertising-design-vector.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
        
        h1 {
            text-align: center;
        }
        
        h2 {
            text-align: center;
        }
        
        p {
            text-align: center;
        }
        
        div {
            text-align: center;
        }
    </style>

    <body>
        <form action="/hint5" method="GET">
            <div class="form-group">
                <div class="container">
                    <h1>HERE IS YOUR HINT 5</h1>
                    <h2>ARE U EXCITED TO KNOW ABOUT THE NEXT CLUE</h2>
                    <p>Now go and the watch the below vedio to know about the clue</p>
                    <video width="320" height="240" controls="controls" />
                    <source src="C:\Users\tulas\Downloads\Real setu ram setu bridge real video. jai shree ram.webm" type="video/mp4">
                    </video>


                    <button>Next</button>
        </form>
        </div>
    </body>

</html>