<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        
        body {
            background-image: url('https://www.108themes.com/foggy-roads/slider/6.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
        
        h1 {
            text-align: center;
        }
        
        h2 {
            text-align: center;
        }
        
        p {
            text-align: center;
        }
        
        div {
            text-align: center;
        }
    </style>

    <body>
        <form action="/hint7" method="GET">
            <div class="form-group">
                <div class="container">

                    <h1>HERE IS YOUR FINAL HINT</h1>
                    <p style="color:blue;">So .....now its time to activate your brain</p>
                    <p style="color:blue;">Did you aware of adding or multipling of alphabets in different ways??</p>
                    <p style="color:blue;">The clue 6 indicates the name of a particular place</p>
                    <p style="color:blue;">NOW if you apply some mathmatics you should get the value as 106.</p>
                    <p style="color:blue;">So what is the other value of 106.</p>
                    <p style="color:blue;">It says that other value in the sense you can even think in a different way like comination of alphabets</p>
                    <img src="https://th.bing.com/th/id/R.e77c0c4738de199d0caa7365de5366ff?rik=tqzLIe5%2fGHGTYg&riu=http%3a%2f%2fgetdrawings.com%2fvectors%2fthinking-emoji-vector-23.jpg&ehk=bgApRRmNDkCbClYTYgVHKjF2nshPAANj9STRb4Bec%2bA%3d&risl=&pid=ImgRaw&r=0" alt="emoji"
                        width="100" height="100">

                    <div class="center">
                        <button>Next</button>
                    </div>

                </div>
        </form>
    </body>

</html>