<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            background-image: url('https://wallpapercave.com/wp/wp2013431.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
        
        p.solid {
            border-style: solid;
        }
        
        p.c {
            text-align-last: justify;
        }
        
        h1 {
            text-align: center;
        }
        
        h2 {
            text-align: center;
        }
        
        p {
            text-align: center;
        }
        
        div {
            text-align: center;
        }
    </style>

    <body>

        <form action="/hint11" method="GET">
            <div class="form-group">
                <div class="container">
                    <h1>HERE IS YOUR HINT 1</h1>
                    <h2>Can we start with a Story!!!</h2>
                    <p>Did you ever heard about Mahabharata ??</p>
                    <p class="solid">
                        It starts with kunthi's part that she returns back to<br> Palace with her five little boys, and the bodies <br> of Pandu and Madri. The five boys were the sons<br> of Pandu, born to his two wives through Niyog<br> custom from gods:the
                        eldest was born of Dharma<br> the second of Vayu, the third of Indra and the <br> youngest - twins -of the Ashvins.In the meanwhile<br> Dhritarashtra and Gandhari too had children of their<br> own: 100 sons and one daughter
                        <br> The Kuru elders performed the last rites for Pandu<br> and Madri, and Kunti and the children were welcomed<br> into the palace...</p>
                    <h2>You can click on Next if you found the Hint
                        <h2>
                            <button>Next </button>
                </div>
        </form>
    </body>

</html>