<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            background-image: url('https://static.vecteezy.com/system/resources/previews/000/565/088/original/abstract-gray-room-interior-background-or-wallpaper-for-product-display-empty-studio-photoshoot-backdrop-for-your-advertising-design-vector.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
        
        h1 {
            text-align: center;
        }
        
        p {
            text-align: center;
        }
        
        div {
            text-align: center;
        }
    </style>

    <body>
        <form action="/hint4" method="GET">
            <div class="form-group">
                <div class="container">
                    <h1 style="color:yellow;">HERE IS YOUR HINT 4</h1>
                    <p style="color:navy;">There was a popular place (was mentioned in clue 3) built in order to cross the ocean and to save his princess . It has been the marvel of ancient civil engineering technology and science. And simultaneously it has great religious
                        and historical importance which can't be ignored by any Hindu. It is told in scriptures one gets fruits of pilgrimages of other sacred places only if s/he visits and see the great bridge</p>
                    <p>Based on the above clue identify the below picture</p>
                    <img src="https://assets-news.housing.com/news/wp-content/uploads/2021/05/11104637/Adam%E2%80%99s-Bridge-Ram-Setu-Everything-you-need-to-know-FB-1200x700-compressed.jpg" alt="Trulli" width="500" height="333"><br>
                    <button>Next</button>
        </form>
        </div>

    </body>

</html>