<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        p.solid {
            border-style: solid;
        }
        
        body {
            background-image: url('https://th.bing.com/th/id/R.63be24348856919856f4184631a12f55?rik=qh3r9%2fTo2jgAow&riu=http%3a%2f%2fwallpapercave.com%2fwp%2f9quGkLG.jpg&ehk=0Xx4Qv2EDKAKYFWXlL4agJowBrvKUasWzeH%2fBkx2PUE%3d&risl=&pid=ImgRaw&r=0');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
        
        h1 {
            text-align: center;
        }
        
        p {
            text-align: center;
        }
        
        div {
            text-align: center;
        }
    </style>

    <body>

        <form action="/hint3" method="GET">
            <div class="form-group">
                <div class="container">
                    <h1 style="color:red;">HERE IS YOUR HINT 3</h1>
                    <p style="color:yellow; " class="solid">Can you ever travelled about 2780 kilometers in your life</p>
                    <p style="color:yellow;" class="solid">Based on your 2nd clue you can find out the 3rd clue</p>
                    <p style="color:yellow;" class="solid">From the 2nd clue...... the distance to the most populars biryani's point is 1658 kilometers and it is also popular to chowmahalla palace</p>
                    <p style="color:yellow;" class="solid">from the chowmahallas palace city the distance to place called as Varanasi of the South is 1121.
                        <p style="color:yellow;" class="solid">DID you know the mathematics</p>
                        <button>Next </button>
                </div>
        </form>
    </body>

</html>