<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        
        h1 {
            color: orange;
        }
        
        body {
            background-image: url('https://wallpapercave.com/wp/wp2013385.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
        
        h1 {
            text-align: center;
        }
        
        h2 {
            text-align: center;
        }
        
        p {
            text-align: center;
        }
        
        div {
            text-align: center;
        }
    </style>

    <body>
        <form action="/hint2" method="GET">
            <div class="form-group">
                <div class="container">
                    <h1>HERE IS YOUR HINT 2</h1>



                    <img src="https://www.goatsonroad.com/wp-content/uploads/2020/02/hastinapur.jpg" alt="Trulli" style="width:70%;" <br><br>

                    <div class="center">
                        <button>Next</button>
                    </div>
                </div>
            </div>

            </div>
        </form>
    </body>

</html>